@use 'breakpoints' as *;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 50px;

  @media only screen and (max-width: ($tablet + 0px)) {
    padding: 30px;
  }
}
