$primary: #833136;
$secondary: #cdcdcd;
$success: #2c5440;
$error: #a63d40;
$warning: #e3a54f;
$info: #677db7;
$dark: #3d405b;
$light: #fbf5f3;
$text: #0d1321;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  error: $error,
  warning: $warning,
  info: $info,
  dark: $dark,
  light: $light,
  text: $text
);
