@use 'palette' as *;

// Overwrite default react-toastify colors with colors from theme
:root {
  --toastify-color-info: #{$info};
  --toastify-color-success: #{$success};
  --toastify-color-warning: #{$warning};
  --toastify-color-error: #{$error};
  --toastify-text-color-light: #{$text};
}
